@model IEnumerable<Day_3Week2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form id="filterForm" asp-action="Index" method="get">
    <label for="inputCategoryId">Enter Category Id:</label><br />
    <input type="number" id="inputCategoryId" name="categoryId" class="form-control w-25 d-lg-inline-flex" aria-label="Small">
    <button type="submit" class="btn"></button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">Name</a>
            </th>
            <th>
                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]">Price</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
